body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* padding: 0; */
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
#left, #right {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid black;
  min-height: 100%;
}
#chatting-area {
  max-height: 70vh;
  overflow: auto;
}
#landing {
  text-align: center;
  /* height: 10em; */
  display: block;
  margin-bottom: 10em;
  
}

#image-container {
  border: 1px solid black;
}

#clickable-image {
  border: 1px solid black;
  /* max-width: 80%;
  max-height: 80%; */
  position: absolute;
  /* cursor: crosshair; */
}

#overlay-box {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  /* border: -3px solid red; */
  box-shadow: inset 0px 0px 0px 3px red;
}